ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

.body {
  font-family: Roboto, Raleway, sans-serif;
  color: #2e2f42;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}
.address-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
}
.address-link:hover,
focus {
  color: #404bbf;
}
.main-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em; /* 107.143% */
  letter-spacing: 0.02em;
}
.descr-title {
  color: rgba(0%, 0%, 0%, 0%);
}
.title-team,
.title-portfolio {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-color {
  background-color: #f4f4fd;
}

.footer-logo {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16em; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.top-logo {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16em; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
focus {
  color: #404bbf;
}
.nav-link-active {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link-active:hover,
focus {
  color: #404bbf;
}
.nav-link-active:active {
  color: #404bbf;
}
.address-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
}
.hero-color {
  background-color: #2e2f42;
}
.button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
}
.button:hover,
focus {
  color: #ffffff;
  background-color: #404bbf;
}
.small-titles {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}
.text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
}
.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16em; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
}
.footer-color {
  background-color: #2e2f42;
}
.pic-color {
  background-color: #ffffff;
}
